
<h4>Chat</h4>
<hr>

<div class="app-messages" id="app-messages">

  <div *ngFor="let chat of _cs.chats"
        [ngClass]="{ 'text-right': _cs.user.uid != chat.uid }" >

    <span class="badge"
          [ngClass]="{ 'badge-primary': _cs.user.uid == chat.uid,
                        'badge-success': _cs.user.uid != chat.uid }" >
      {{ chat.name }}
    </span>
    <p>
      {{ chat.message }}
    </p>
  </div>
</div>

<input type="text" name="message"
  class="form-control"
  [(ngModel)] = "message"
  (keyup.enter) = "sendMessage()"
  placeholder="Send Message"
>